.takeGoodsType{
	 clear: both;
	 padding: 10px 0;
}
.takeTitle{
	font-size: 15px;
	font-weight: bold;
	clear: both;
	padding: 10px 0;
}
.takeGoodsType{clear: both;border: 1px solid gray;width: 60%;float:left;}
.takeGoodsType .takeItem{
	clear: both;
	padding-left: 20px;
}
.takeGoodsType .takeItem span{
	display: block;
	width:300px;
	float:left;
}
.goodsItem{
	clear: both;
	margin-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	float:left;
	width:60%;
	border-bottom: 1px dotted;
}
.goodsItem span{
	display: block;
	float:left;
}
.goodsItem span img{
	width:50px;
	height:50px;
}

